@model CategoryModel
@{
    ViewData["title"] = "Create Category";
}
<h4>Thêm danh mục</h4>

<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Tên danh mục</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Trạng thái</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiển Thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger" />
        </div>
        <div class="form-group d-flex-space-between">
            <a class="btn btn-primary" asp-action="Index">Quay về danh sách</a>
            <button class="btn btn-success ">Thêm</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
    
