@{
	Layout = null;
}

<style>
	body, html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}
</style>
<div>
	<h1>This page is 404 not found</h1>
	<img src="https://images.assetsdelivery.com/compings_v2/monuttanit/monuttanit1802/monuttanit180200035.jpg" />
</div>
